//Breakpoints

$break-medium: "only screen and (min-width : 800px)";
$break-large: "only screen and (min-width : 1200px)";
// ex. @media #{$break-medium} 


//Colors

$brand-purple: #554488;
$brand-orange: #E24329;
$purple-gradient: "linear-gradient(16deg, #3B2C67 0%, #554488 94%)";
$orange-gradient: "linear-gradient(180deg, #FF5E0E 0%, #FC6D26 98%)";
// ex. #{$orange-gradient}

//Mixins

@mixin bottom-padding {
  padding-bottom: 4vw;

  @media #{$break-medium} {
    padding-bottom: 6vw;
  }
}