@import "reset";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*********** Defaults ***/

body {
  font-family: 'Lato', verdana, helvetica, sans-serif;
  color: #666666;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 25px;
  color: #444444;
  padding: 6vw 0 .5vw;

  @media #{$break-medium} {
    font-size: 40px;
    padding: 4vw 0 1vw;
  }
  @media #{$break-large} {
    font-size: 50px;
  }
}

h2 {
  font-size: 16px;
  padding-bottom: 6vw;

  @media #{$break-medium} {
    font-size: 20px;
    padding-bottom: 4vw;
  }
  @media #{$break-large} {
    font-size: 30px;
  }
}

h1, h2 {
  text-align: center;
  line-height: 120%;
}

a {
  color: $brand-orange;
}

.button-cta, input[type="submit"] {
  display: block;
  margin: 2vw auto 0;
  width: 150px;
  padding: 20px;
  color: #FFF;
  background-image: #{$orange-gradient};
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  border: none;

  @media #{$break-medium} {
    font-size: 20px;
  }
}

// styling placeholder text
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

/*********** Navigation ***/

nav {
  border-bottom: 1px solid #D4D4D4;
  .container {
    display: flex;

    height: 50px;
    padding: 0;
  }

  // logo
  img {
    width: 140px;
    padding-left: 20px;
  }

  ul {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    padding: 0 20px;

    font-size: 14px;

    li {
      padding: 0 10px;
      color: #8C929D;
    }
  }

  .desktop-nav {
    display: none;

    @media #{$break-medium} {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .mobile-nav {
    display: flex;

    @media #{$break-medium} {
      display: none;
    }
  }

  .featured-nav {
    color: $brand-purple;
    font-weight: bold;
  }
}

/*********** Footer ***/

footer {
  background-image: #{$purple-gradient};
  color: #FFF;
  font-size: 14px;
  text-align: center;
  line-height: 120%;

  a {
    color: #FFF;
    text-decoration: underline;
  }
}

/*********** Hero ***/

header {
  background-image: #{$purple-gradient};

  h1, h2 {
    color: #FFF;
  }
}

.hero {
  background-image: url('/images/hero-background-mountains.jpg');
  background-size: cover;
  background-position: center;
  padding: 10vw 0;

  @media #{$break-medium} {
    padding: 5vw 0;
  }

  h3, h4 {
    color: #FFF;
    text-align: center;
  }

  h3 {
    font-size: 25px;
    padding-bottom: 2vw;

    @media #{$break-medium} {
      font-size: 40px;
      padding-bottom: 1rem;
    }
  }

  h4 {
    font-size: 20px;
    padding-bottom: 2vw;

    @media #{$break-medium} {
      font-size: 30px;
    }
  }
}

.countdown {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  p {
    color: #FFF;
    margin: 2px;
  }

  .time-unit {
    flex: 1;
  }

  .time-cells {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    margin: 2px;

    li {
      flex: 1;

      display: flex;
      justify-content: center;

      background: white;
      color: $brand-purple;
      margin: 1px;
      padding: 15px 0;
      font-size: 30px;
      border-radius: 3px;
    }
  }
}

/*********** Explanation Text ***/

.explanation {
  padding-bottom: 10vw;

  img {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 20px 40px;
    display: block;
  }

  p {
    line-height: 200%;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;

    @media #{$break-medium} {
      font-size: 18px;
    }
  }
}

/*********** Meet Our Experts ***/

.experts {
  @include bottom-padding;
  background-image: #{$purple-gradient};

  h1, h2 {
    color: #FFF;
  }

  ul {
    display: flex;
    flex-direction: column;

    @media #{$break-medium} {
      flex-direction: row;
    }

    li {
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin: 0px auto;
      padding: 10px;
    }

    img {
      width: 100%;
    }

    .expert-image-and-name {
      position: relative;
    }

    .expert-name {
      background: rgba( 253, 100, 23, .83);
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 10px 0;
      color: #FFF;
    }

    .expert-title {
      background: #FFF;
      padding: 20px;
    }

    .expert-twitter {
      background: #EEE;
      padding: 20px;
    }
  }
}

/*********** Form ***/

.claim {
  @include bottom-padding;
}

form {
  input, label {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
  }

  label {
    margin-bottom: 10px;
  }

  input[type=text], input[type=email] {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  input[type=submit] {
    padding: 10px;
  }

  label.error {
    color: $brand-orange;
    font-size: 11px;
    margin-top: -10px;
    margin-bottom: 15px;
  }
}

/*********** Thanks ***/

.thanks {
  p {
    text-align: center;
  }
}
