<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" id="favicon">
    <%= stylesheet_link_tag "site" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag "jquery.countdown.min" %>
    <%= javascript_include_tag "jquery.validate.min" %>
    <%= javascript_include_tag "jquery.widowFix.min" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <nav>
      <div class="container">
        <img src="/images/logo.svg">
        <ul class="desktop-nav">
          <li>Features</li>
          <li>Products</li>
          <li>Install</li>
          <li>Community</li>
          <li>Blog</li>
          <li>Contact</li>
          <li><i class="fa fa-search"></i></li>
          <li class="featured-nav">Explore Gitlab.com</li>
          <li class="featured-nav">Sign In/Register</li>
        </ul>
        <ul class="mobile-nav"><i class="fa fa-bars"></i></ul>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <p class="container">Made with love by <a href="http://dianaperkinsdesign.com">Diana</a>. Mountain image from Unsplash, by <a href="https://unsplash.com/photos/X0OoHrPvgXE ">Luca Zanon</a>.</p>
    </footer>
  </body>
</html>
