---
title: Join us for our Fermentum Webcast!
---

<header>
  <div class="container">
    <h1>Join us for our Fermentum Webcast!</h1>
    <h2>Etiam porta sem malesuada magna mollis euismod.</h2>
  </div>
</header>

<section class="hero">
  <h3>January 26, 2018</h3>
  <h4>3:00PM EST</h4>

  <div class="countdown" id="clock">
    <div class="time-unit" id="days">
      <p>Days</p>
      <ul class="time-cells">
        <li id="days-0">0</li>
        <li id="days-1">0</li>
      </ul>
    </div>
    <div class="time-unit" id="hours">
      <p>Hours</p>
      <ul class="time-cells">
        <li id="hours-0">0</li>
        <li id="hours-1">0</li>
      </ul>
    </div>
    <div class="time-unit" id="minutes">
      <p>Minutes</p>
      <ul class="time-cells">
        <li id="minutes-0">0</li>
        <li id="minutes-1">0</li>
      </ul>
    </div>
    <div class="time-unit" id="seconds">
      <p>Seconds</p>
      <ul class="time-cells">
        <li id="seconds-0">0</li>
        <li id="seconds-1">0</li>
      </ul>
    </div>
  </div>

  <a href="#claim" class="button-cta">Claim your spot</a>
</section>

<article class="container explanation">
  <h1>How Fermentum Can Change Everything</h1>
  <h2>Etiam porta sem malesuada magna mollis euismod.</h2>

  <img src="/images/fermentum.svg" alt="Fermentum">

  <p>Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id. Maecenas faucibus mollis interdum.</p>

  <a href="#claim" class="button-cta">Claim your spot</a>
</article>

<section class="experts">
  <div class="container">
    <h1>Meet Our Expert Speakers</h1>
    <h2>Etiam porta sem malesuada magna mollis euismod.</h2>

    <ul>
      <li>
        <div class="expert-image-and-name">
          <img src="/images/expert_1.jpg" alt="Cathy Fisher">
          <p class="expert-name">Cathy Fisher</p>
        </div>
        <div class="expert-title">Senior Fermentum Engineer</div>
        <div class="expert-twitter"><a href="">@cathy_fisher</a></div>
      </li>

      <li>
        <div class="expert-image-and-name">
          <img src="/images/expert_2.jpg" alt="Gerald Clark">
          <p class="expert-name">Gerald Clark</p>
        </div>
        <div class="expert-title">Fermentum Analyst</div>
        <div class="expert-twitter"><a href="">@gerald_clark</a></div>
      </li>

      <li>
        <div class="expert-image-and-name">
          <img src="/images/expert_3.jpg" alt="Ian Newman">
          <p class="expert-name">Ian Newman</p>
        </div>
        <div class="expert-title">Fermentum Planning Technician</div>
        <div class="expert-twitter"><a href="">@ian_newman</a></div>
      </li>
    </ul>
  </div>
</section>

<section class="claim container">
  <a name="claim"></a>
  <h1>Claim Your Spot</h1>
  <h2>January 26, 2018  @ 3:00PM EST</h2>

  <form id="email-form" action="/thanks" method="post">
    <label for="firstname">First Name *</label>
    <input name="firstname" type="text" placeholder="First Name">

    <label for="lastname">Last Name *</label>
    <input name="lastname" type="text" placeholder="Last Name">

    <label for="company">Company</label>
    <input name="company" type="text" placeholder="Company">

    <label for="email">Email *</label>
    <input name="email" type="email" placeholder="Email">

    <input type="submit">
  </form>
</section>